<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h2>Edit<%=companies.name%></h2>
        <form action="/company/<%=companies._id%>?_method=PUT" method="POST">
            Name: <input type="text" name="name" value="<%=companies.name%>"/></br> 
            Year Founded:<input type="text" name="founded" value="<%=companies.founded%>"/></br> 
            CEO:<input type="text" name="CEO" value="<%=companies.CEO%>"/></br> 
            Country of Origin:<input type="text" name="country" value="<%=companies.country%>"/></br> 
            <button type="submit">Edit Company</button>
        </form>    
</body>
</html>